<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{fragments/commons::head}"></head>

<body>
<header th:replace="~{fragments/commons::nav}"></header>
<style th:replace="~{fragments/commons::style}"></style>
<h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Create a New Course</span></h1>
<hr>

<form class="mx-auto w-25 bg-blur rounded" action="#"
      th:action="@{/enquiries/{id}/add(id=${studentId})}"
      th:object = "${enquiryAddBindingModel}"
      method="post">
  <div class="label-holder textCol d-flex justify-content-center">
    <label class="h4 mb-2 text-white">Question</label>
  </div>
  <div class="text-center">
    <input type="text" th:field = "*{question}"
           placeholder="Enter your question here"
           class="form-control mb-4 col-12 mx-auto ">
  </div>

  <div class="label-holder textCol d-flex justify-content-center">
    <label class="h4 mb-2 text-white">Teacher ID</label>
  </div>
  <div class="text-center">

    <input type="text"  th:field = "*{teacherId}"
           placeholder="Enter teacher ID here"
           class="form-control mb-4 col-16  mx-auto ">
  </div>


  <button type="submit" class="btn btn-primary  mt-3 mb-3">Submit Enquiry</button>
</form>

</body>

</html>